<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Extramarks</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static',filename='assets/img/favicon.png')}}" rel="icon">
  <link href="{{url_for('static',filename='assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/icofont/icofont.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/owl.carousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/animate.css/animate.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/aos/aos.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static',filename='assets/css/style.css')}}" rel="stylesheet">


  <!-- =======================================================
  * Template Name: Mentor - v2.1.0
  * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
<script type="text/javascript">
function CheckColors(val){
  // document.write(val)
  console.log("jmcksdc")
 var arr = ["a","are","as","be","because","by","called","due to", "for", "in","the","was"]
 for (i = 0; i < arr.length; i++) {
  var element=document.getElementById(arr[i]);
  element.value = "";
  element.style.display='none';
  var out = document.getElementById('out');
  out.innerText = ""; 
  }
 // print(val,"vvvv")
 // document.write(val)
 if(val!="type"){

  var element=document.getElementById(val);
  element.style.display='block';
  var element = document.getElementById('button');
  element.style.display='block';
}

 else  {
  var element=document.getElementById('is');
  element.style.display='none';}
}

function readInput() {
  var input = ""
  var answer = ""
  var arr = ["a","are","as","be","because","by","called","due to", "for", "in","the","was"]
  var out = document.getElementById('out');
  out.innerText = ""; 

  for(i=0; i<arr.length; i++){
    var element = document.getElementById(arr[i]);
    if(element.value!=""){
       input = element.value       //Desired Input
       $.ajax({
          type : "POST",
          url : '/handler',
          dataType: "json",
          data: JSON.stringify(input),
          contentType: 'application/json;charset=UTF-8',
          success: function (data) {
       
            var out = document.getElementById('out');
            out.innerText = data.ans; 
            return ;
            }
          });
       // document.write(answer);
       // if(answer!=""){

       // }
       // return;
    }


  }
}
$("select").on("click" , function() {
  
  $(this).parent(".select-box").toggleClass("open");
  
});

$(document).mouseup(function (e)
{
    var container = $(".select-box");

    if (container.has(e.target).length === 0)
    {
        container.removeClass("open");
    }
});


$("select").on("change" , function() {
  
  var selection = $(this).find("option:selected").text(),
      labelFor = $(this).attr("id"),
      label = $("[for='" + labelFor + "']");
    
  label.find(".label-desc").html(selection);
    
});
</script>
<style >
  @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);


.select-box {
  cursor: pointer;
  position : relative;
  max-width:  20em;
  margin: 5em auto;
  width: 300px;
}

.select,
.label {
  color: #414141;
  display: block;
  font: 400 17px/2em 'Source Sans Pro', sans-serif;
}

.select {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 5px 0;
  height: 40px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: none transparent;
  border: 0 none;
}
.select-box1 {
  background: #ececec;
}

.label {
  position: relative;
  padding: 5px 10px;
  cursor: pointer;
}
.open .label::after {
   content: "▲";
}
.label::after {
  content: "▼";
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 15px;
  border-left: 5px solid #fff;
}
</style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="{{ url_for('home') }}">Extramarks</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
    
        </ul>
      </nav><!-- .nav-menu -->

      <a href="{{ url_for('converter') }}" class="get-started-btn">Get Started</a>

    </div>
  </header><!-- End Header -->

  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Steps</h2>
  
         <ul>
           
              <li> Select the type of the question.</li>
              <li> Enter the input Objective Question in the displayed text box</li>
         
          
            </ul>
          <!-- </div> -->
        </div>
      </div>
    </div><!-- End Breadcrumbs -->
 <section id="type_ques" class="type_ques">
  <!-- <form action="#"> -->
 
  <div class="select-box">
    
    <label for="select-box1" class="label select-box1"><span class="label-desc">Type of the Question</span> </label>
   <select  id="select-box1" class="select" onchange='CheckColors(this.value);'> 
    <!-- <option value = "type">Type of the Question</option>   -->
     <option value="" selected>---------</option>
    <option value = "a">a</option>
    <option value = "are">are</option>
    <option value = "as">as</option>
    <option value = "be">be</option>
    <option value = "because">because</option>
    <option value = "by">by</option>
    <option value = "called">called</option>  
    <option value = "due to">due to</option>
    <option value = "for">for</option>
    <option value = "in">in</option>  
    <option value = "is">is</option>  
    <option value = "the">the</option>
    <option value = "was">was</option>
   
    
    
   
    
 
    </select>
    
  </div>
   


    <input type="text" name="a" id="a" placeholder="The velocity is an object is a" style = 'display:none;margin:0 auto; width: 500px;'/>

    <input type="text" name="are" id="are" placeholder="The correct geometry and hybridization for XeF⁴ are" style='display:none;margin:0 auto; width: 500px;'/>
    <input type="text" name="as" id="as" placeholder="Persistent hunger is also known as" style='display:none;margin:0 auto; width: 500px;'/>
    <input type="text" name="be" id="be" placeholder="For a body to float in a liquid, the weight of the body should be" style='display:none;margin:0 auto; width: 500px;'/>
    <input type="text" name="because" id="because" placeholder="Rajasthan receives scanty rainfall because" style='display:none;margin:0 auto; width: 500px;'/>

    <input type="text" name="by" id="by" placeholder="The last known Sangha was captured by" style = 'display:none;margin:0 auto; width: 500px;'/>

    <input type="text" name="called" id="called" placeholder="The bright streak of light in sky is called" style='display:none;margin:0 auto; width: 500px;'/>
     <input type="text" name="due to" id="due to" placeholder="Safety devices are used in our home due to" style='display:none;margin:0 auto; width: 500px;'/>
    <input type="text" name="for" id="for" placeholder="Mauryan roads and rivers were important for " style='display:none;margin:0 auto; width: 500px;'/>
    <input type="text" name="in" id="in" placeholder="Valves are present in" style='display:none;margin:0 auto; width: 500px;'/>
    <input type="text" name="is" id="is" placeholder="The scientific name of apple is" style='display:none;margin:0 auto; width: 500px;'/>

    <input type="text" name="the" id="the" placeholder="The process of fertilisation takes place in humans inside the" style = 'display:none;margin:0 auto; width: 500px;'/>

    <input type="text" name="was" id="was" placeholder="human hormone produced by using genetic engineering was
" style = 'display:none;margin:0 auto; width: 500px;'/>

  

   

    <button type="submit" id="button" class="btn btn-success" style='display:none;margin:10px auto; width: 150px;' onclick='readInput()'; >Submit</button>
    
  </section>

  <section id="answer" style= "   margin:0;
    padding: 5;"class="answer">
    <h3 id="out" style = "margin:0 auto;text-align: center"></h3>
  </section>






  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" style = "position: absolute;bottom: 0px;
    width: 100%;">



    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Mentor</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

 
  <!-- Vendor JS Files -->
  <script src="{{url_for('static',filename='assets/vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/jquery.easing/jquery.easing.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/php-email-form/validate.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/waypoints/jquery.waypoints.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/counterup/counterup.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/owl.carousel/owl.carousel.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/aos/aos.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static',filename='assets/js/main.js')}}"></script>

</body>

</html>