<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Extramarks</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static',filename='assets/img/favicon.png')}}" rel="icon">
  <link href="{{url_for('static',filename='assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/icofont/icofont.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/owl.carousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/animate.css/animate.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/aos/aos.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static',filename='assets/css/style.css')}}" rel="stylesheet">


  <!-- =======================================================
  * Template Name: Mentor - v2.1.0
  * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
<script type="text/javascript">
function CheckColors(val){

 var arr = ["is", "are", "was"]
 for (i = 0; i < arr.length; i++) {
  var element=document.getElementById(arr[i]);
  element.value = "";
  element.style.display='none';
  var out = document.getElementById('out');
  out.innerText = ""; 
  }
 
 if(val!="type"){
  var element=document.getElementById(val);
  element.style.display='block';
  var element = document.getElementById('button');
  element.style.display='block';
}

 else  {
  var element=document.getElementById('is');
  element.style.display='none';}
}

function readInput() {
  var input = ""
  var answer = ""
  var arr = ["is", "are", "was"]
  var out = document.getElementById('out');
  out.innerText = ""; 

  for(i=0; i<arr.length; i++){
    var element = document.getElementById(arr[i]);
    if(element.value!=""){
       input = element.value       //Desired Input
       $.ajax({
          type : "POST",
          url : '/handler',
          dataType: "json",
          data: JSON.stringify(input),
          contentType: 'application/json;charset=UTF-8',
          success: function (data) {
       
            var out = document.getElementById('out');
            out.innerText = data.ans; 
            return ;
            }
          });
       // document.write(answer);
       // if(answer!=""){

       // }
       // return;
    }


  }
}

</script>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="{{ url_for('home') }}">Extramarks</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
    
        </ul>
      </nav><!-- .nav-menu -->

      <a href="{{ url_for('courses') }}" class="get-started-btn">Get Started</a>

    </div>
  </header><!-- End Header -->

  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Steps</h2>
  
         <ul>
           
              <li> Select the type of the question.</li>
              <li> Enter the input Objective Question in the displayed text box</li>
         
          
            </ul>
          <!-- </div> -->
        </div>
      </div>
    </div><!-- End Breadcrumbs -->
 <section id="type_ques" class="type_ques">
  
   <select name="color"  style = "margin-left: 42%; text-align: center; " onchange='CheckColors(this.value);'> 
    <option value = "type">Type of the Question</option>  
    <option value = "is">is</option>  
    <option value = "are">are</option>
    <option value = "was">was</option>
    </select>

</section>

 <section id="query" style= "   margin:0;
    padding: 0;"class="query">
    
    <input type="text" name="is" id="is" placeholder="is" style = 'display:none;margin:0 auto; width: 500px;'/>

    <input type="text" name="are" id="are" placeholder="are" style='display:none;margin:0 auto; width: 500px;'/>
    <input type="text" name="was" id="was" placeholder="was" style='display:none;margin:0 auto; width: 500px;'/>

    <button type="submit" id="button" class="btn btn-success" style='display:none;margin:10px auto; width: 150px;' onclick='readInput()'; >Submit</button>
    
  </section>

  <section id="answer" style= "   margin:0;
    padding: 5;"class="answer">
    <h3 id="out" style = "margin:0 auto;text-align: center"></h3>
  </section>






  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" style = "position: absolute;bottom: 0px;
    width: 100%;">



    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Mentor</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

 
  <!-- Vendor JS Files -->
  <script src="{{url_for('static',filename='assets/vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/jquery.easing/jquery.easing.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/php-email-form/validate.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/waypoints/jquery.waypoints.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/counterup/counterup.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/owl.carousel/owl.carousel.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/aos/aos.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static',filename='assets/js/main.js')}}"></script>

</body>

</html>